/* Game page */

#game-page {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 35% 35%;
    grid-template-areas:
        "players players players players players"
        ". deck usef discard ."
        "hand hand hand hand hand";
}

#game-page > #game-page-players {
    grid-area: players;
}

#game-page > #game-page-deck {
    grid-area: deck;
    display: flex;
}

#game-page > #game-page-usef {
    grid-area: usef;
    text-align: center;
}

#game-page > #game-page-discard {
    grid-area: discard;
    display: flex;
}

#game-page > #game-page-hand {
    grid-area: hand;
    display: flex;
}

.card-pad {
    width: 10em;
    height: 14em;
    background-color: darkgreen;
    border-radius: 0.5em;
    margin: auto;
}

#game-page-player-hand {
    height: 14em;
    background-color: darkgreen;
    border-radius: 0.5em;
    margin: auto;
    display: flex;
}

.game-page-card {
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 2em 2em;
    width: 6em;
    height: 10em;
    text-align: center;
    background-color: ivory;

    /* Disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-page-card:hover {
    border: 1px solid lightslategray;
    background-color: aliceblue;
    cursor: pointer;
}

.game-page-card-selected {
    border: 1px solid lightslategray;
    background-color: lightslategray;
}

.game-page-card-selected:hover {
    border: 1px solid aliceblue;
    background-color: lightslategray;
    cursor: pointer;
}
